/*コーディングルール
1. クラス命名規則
  1-1.wordpressのクラスと区別するために
      ・クラス名、ID名に接頭辞を付ける
          (1) l-  Layout     :レイアウト指定クラス
          (2) d-  Decoration :デザイン装飾クラス
          (3) m-  Motion     :モーション付与クラス
      ・通常のクラス書式を、汎用クラスの書式より高いCSS優先度にするため
        通常のクラスはbody要素の子要素クラスとして定義する。(ネスト階層を+1して通常クラスのCSSを優先させる)
  1-2.階層構造をとるhtml要素に対して付与するクラスは
      ・最高階層のみ先頭大文字で命名する。
      ・2階層目以降は (最高階層の親要素のクラス名)_(子要素のクラス名) のように指定する。
        htmlの階層の深さに関わらず対応するCSCCクラスのネスト構造は単純化の為に第3階層以上にはしない。
        (↑1-1の命名方針より、1つのHTML要素に複数クラスを指定する事を想定しており、クラス名を長くすることを避けたい意図がある)
      ・同じ目的のクラスで名複数のタイプを作成する場合はタイプ別に (クラス名)--(タイプ名) のように指定する。
2. クラス書式の記載順
  height width
  magin 
  padding
  position
  top bottom left right
3. メディアクエリ
  PC書式->他書式で記述
  PC用書式
  @media (スマホ画面サイズ)
*/


/*固定変数*/
$textColor:#616161;
$mainColor:#f8145b;
$asortColor1:#d41451;
$asortColor2:#760a2c;
$asortColor3:#f0ede5;
$accentColor:#1cB3a8;
$pcScreenSize:768px;
$serifFont:Georgia, 'Times New Roman', Times, serif;

html{
  /*基礎フォント設定(画面600pxで12px,100pxで16px)*/
  //font-size: calc(calc(12/16*100%) + 4 * (100vw - 600px) / 400)
  font-size: 10pt;
}
body{
  color: $textColor;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
h2,h3{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
p{
  margin-top: 0;
  box-sizing: border-box;
}
a{
  display: block;
  color: $textColor;
  text-decoration: none;
  background-color: transparent;
}
ul{
  margin: 0;
  list-style: none;
}
li{
  display: inline-block;
}



@mixin absoluteItem ($top:auto,$bottom:auto,$left:auto,$right:auto){
  top: $top; bottom:$bottom;
  left: $left; right: $right;
  position: absolute;
}



/*1-1. 汎用クラス定義*/
/*(1) General Layout     :レイアウト指定クラス*/
/*[1]要素のアスペクト比固定*/
$aspectWidth-16-9:56.25%;
$aspectWidth-4-3:75%;
@mixin l-AspectFixed ($aspectWidthRate:$aspectWidth-16-9){
  position: relative;
  /*アスペクト非固定用疑似要素*/
  &::before{
    content:"";
    display: block;
    /*padding-topの高さは元要素のwidthで決まる*/
    padding-top: $aspectWidthRate;
  }
  & > .imageFrame{
    /*absluteで親要素のbeforeに貼り付ける*/
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    & > .image{
      height: 100%; width: 100%;
      object-fit: cover;
    }
  }
}

  /*[2]記事一覧の基本書式*/
@mixin ld-PostItem--news{
  &_link{
    //layout
    height: auto; width: 100%;
    display: flex;
    justify-content: start;
    position: relative;
    //deco
    text-decoration: none;
    color: $textColor;

    &_image{display: none;}

    &_category{
      //layout
      height: auto; width: 5rem;
      padding: 0.1rem 0 0.1rem 0;
      position: absolute;
      top: 0; left: 7.5rem;
      text-align: center;
      //deco
      font-size: 0.8rem;
      border-radius: 3px;
      border: $textColor 1px solid;
      background-color: rgba(255, 255,255, 0.9);
    }

    &_textBox{
      //layout
      display: flex;
      flex-direction: row;
      justify-content: start;

      &--date{
        //layout
        padding-right: 8rem;
        //deco
        letter-spacing: 0.1rem;
        white-space: nowrap;
      }
      &--title{
        //layout
        display: inline-block;
        //deco
        text-decoration: underline  $accentColor;
        letter-spacing: 0.3rem;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  } 
}

@mixin ld-PostItem--blog($aspect:$aspectWidth-4-3){
  //layout
  height: auto; width: 22%;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;

  &_link{
    //layout
    display: block;
    //deco
    color: $textColor;
    
    &_image{
      //layout
      height: auto; width: 100%;
      position: relative;
      @include l-AspectFixed($aspect);
    }

    &_category{
      //layout
      height: auto; width: 40%;
      padding: 0.5rem 0 0.4rem 0;
      position: absolute;
      bottom: 0; right: 0;
      text-align: center;
      //deco
      font-size: 0.8rem;
      background-color: rgba(255, 255,255, 0.9);
    }
    
    &_textBox{
      //layout
      height: 7rem; width: 100%;
      margin-top: 1rem;

      &--date{
        //layout
        margin-bottom: 0.8rem;
        //deco
        font-size: 0.8rem;
      } 
      &--title{
        //layout
        margin-bottom: 0;
        //deco
        font-weight: bold;
      }
    }
  }
}

  /*[3]複数カラム*/
@mixin l-MultiColumn{
  display: flex;
  flex-direction: row;
  @media screen and (max-width:$pcScreenSize){
    flex-direction: column;
  }
}


/*(2) Gd-  General Decoration :デザイン装飾クラス*/
/*[0]ダミーデザイン*/
@mixin d-dummyDesign {
  background-color: #999;
  border: solid 1px #09f;
}
  /*[1]ボタン要素*/
@mixin d-ButtonDesign{
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-size: medium;
    color: $mainColor;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
}


/*(3) Gm-  General Motion     :モーション付与クラス*/
  /*[1]ボタンによる要素の表示切替*/
@mixin m-Toggle($display:block){
  //<label class="s-toggle-label" for="toggle"></label>
  & > .toggleLabel{cursor: pointer;}
  //<input id="toggle" class="s-toggle--buton" type="checkbox" ></input>
  & > .toggleButton{display: none;}
  //表示非表示を切り替える任意の要素に以下のクラスを付ける
  & > .toggleTarget{display: none;}
  & > .toggleButton:checked + .toggleTarget{display: $display;}
}

  /*[2]各種jsアニメーション*/
@mixin m-Js_fadeIn{
  &_action{
    animation: fade 2s 0s 1 ;
  } 
}
@keyframes fade {
  from{opacity: 0; transform: translateY(30px);}
    to{opacity: 1;transform: translateY(0);}   
}
@mixin m-Js_scroll{}



  
/*HTML要素特化 l-*/
/*Header*/
@mixin l-headerArea{
  height: 5rem; width: 100vw; 
}
@mixin l-headerContainer {
  height: 5rem; width: 100vw; 
  display: flex;
  position: fixed;
  z-index: 100;
}
@mixin l-menuButton{
  height: 100%; width: 20%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  img{
    height:60%; width: auto;
    object-fit: contain;
  }
  @media screen and (min-width:$pcScreenSize) {
    display: none;
  }
}
@mixin l-logoMark{
  height: 100%; width: 60%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img{
    height: 70%; width: auto;
    object-fit: contain;
  }
  @media screen and (min-width:$pcScreenSize){
    display: none;
  }
}
@mixin l-navArea{
  z-index: 101;
  position: fixed;

  @media screen and (max-width:$pcScreenSize) {
    height: 100vh; width: 100vw;
  }
  @media screen and (min-width:$pcScreenSize) {
    height: 10vh; width: 100vw;
    display: flex;
  }
}

@mixin l-navArea_menuBar{
  height: 100%; width: 75%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width:$pcScreenSize){
    height: 100%; width: 100%;
    display: grid;
    grid-template:
    "logo sub sns" 50%
    "logo menu menu" 50%
    /30%   40%  30%;
    ;
  }
}
@mixin l-navArea_blankSpace {
  height: 100%; width: 25%;
  @media screen and (min-width:$pcScreenSize){
    display: none;
  }
}
@mixin l-navArea_logoMark {
  margin: 2rem auto;
  img{height: 3rem; width: auto;}
  @media screen and (min-width:$pcScreenSize){
    margin: 0 ;
    height: 100%; width: 100%;
    grid-area: logo;
  }
}

%l-list{
  padding-left: 0; 
  display: flex;
  a{padding: 0.75rem 1rem;}
  @media screen and (min-width:$pcScreenSize){
    height: auto; width: 40vw;
  }
}
@mixin l-menuBar_list{
  @extend %l-list;
  flex-direction: column;
  margin: 0 auto 3rem;
  @media screen and (min-width:$pcScreenSize){
    height: 100%; width: 100%;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    grid-area: menu;
  }
}
@mixin l-menuBar_list--sub{
  @extend %l-list;
  margin: 0 auto;
  @media screen and (min-width:$pcScreenSize){
    height: 100%; width: 100%;
    margin: 0;
    justify-content: flex-end;
    grid-area: sub;
  }
}
@mixin l-menuBar_list--SNS{
  @extend %l-list;
  margin: 0 auto;
  @media screen and (min-width:$pcScreenSize){
    height: 100%; width: 100%;
    margin: 0;
    justify-content: flex-end;
    grid-area: sns;
  }
}


/* topSection*/
@mixin l-mainImageArea {
  height: 70vh; width: 100vw;
  margin: 0;
  position: relative;
}
@mixin l-mainImageArea_image{
  object-position: top left;
}
  
@mixin l-mainImageText {
  position: absolute;
  top:20%; right:10%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  &::before{
    content: "";
    height: 4rem; width: 4rem;
    position: absolute;
    top:-0.9rem; left:-1.6rem;
    display: block;
  }
  & > .line1{
    letter-spacing: 0.25rem;
    font-size: 1rem;
    white-space: nowrap;
  }
  & > .line2{
    letter-spacing: 0.25rem;
    font-size: 1rem;
    white-space: nowrap;
    position: absolute;
    top: 2rem; right:-2rem;
  }
}


/*Section*/
@mixin l-sectionArea {
  height: auto; width: 100vw;
  margin: 4rem auto;
}
@mixin l-sectionArea_frame{
  padding: 0 5%;
  position: relative; 
}
@mixin l-sectionArea_frame_titleArea{
  // height: auto; width: auto;
  text-align: center;
}
@mixin l-sectionArea_frame_titleArea_title{
  // height: 100%; width: auto;
  margin: 0;
  padding: 0;
}
@mixin l-sectionArea_frame_footerArea{
  // height: auto; width: auto;
  text-align: right;
}


@mixin l-moreButton {
  height: 2rem; width: auto;
  margin-top: 0.5rem;
  display: inline-block;
  span{
    position: relative;
    top:0.1rem
  }
  .arrow{
    height: 1rem; width: 2rem;
    top:0.2rem; left: 0.1rem;
    display: inline-block;
  }
}

@mixin l-blogList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10%;

  @media screen and (min-width:$pcScreenSize){
    justify-content: space-between;
    padding: 0;
  }
}


  // aboutSection
@mixin l-aboutContents_parts($reverse:false){
  display: block;
  @if $reverse {flex-direction: row-reverse;}
  @media screen and (min-width:$pcScreenSize){
    height: auto; width: 100%;
    display: flex;
  }
}
  
@mixin l-aboutContents_parts_image{
  height: auto; width: 100%;
  img{object-position: center center;}
  @media screen and (min-width:$pcScreenSize){
    height: 100%; width: 50%;
  }
}

@mixin l-aboutContents_parts_textBox{
  height: auto; width: 100%;
  @media screen and (min-width:$pcScreenSize){
    height: 100%; width: 50%;
  }
}

@mixin l-aboutContents_parts_textBox_title{
  height: auto; width: 80%;
  margin:0 auto;
}
@mixin l-aboutContents_parts_textBox_text {
  height: auto; width: 80%;
  margin: 0 auto;
  padding-top: 0.2rem;
  padding-left: 1rem;
}

    //LineupSection
@mixin l-menuLineUp{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
@mixin l-menuLineUp_menu{
  height: auto; width: 80%;
  display: flex;
  flex-direction: column;
  min-width: 140px;
  margin:0 auto 1rem;
  @media screen and (min-width:$pcScreenSize){
    flex-direction: row;
  }
}
@mixin l-menuLineUp_menu_image{
  height: auto; width: 100%;
  img{object-position: center center; }
  @media screen and (min-width:$pcScreenSize){
    height: auto; width: 45%;
  }
}
@mixin l-menuLineUp_menu_image_textBox{
  height: auto; width: 100%;
  .itemName{margin-bottom: 0.3rem;}
  .itemInfo{margin-bottom: 0;}
  @media screen and (min-width:$pcScreenSize){
    height: auto; width: 55%;
  }
}

    //ShopinfoSection
@mixin l-shopInfomation{
  height: auto; width: 100%; 
  display: flex;
  @media screen and (max-width:$pcScreenSize){
    display: block;
  }
}
@mixin l-shopInfomation_shopImage{
  height: auto; width: 58.2%;
  @media screen and (max-width:$pcScreenSize){
    height: auto; width: 100%;
  }
  &_frame{
    &_image{
      object-position: center center;
    }
  }
}

@mixin l-shopInfomation_textContainer{
  margin-left: 3%;

  .shopType{}
  .shopName{
    margin: 0.5rem 0;
  }
  .shopAddress{
    margin: 1rem 0;
  }
  .shopAccess{
    margin-bottom: 0;
  }
  .shopInfo{
    margin-top: 1rem;
    display: inline-block;
    th{
      height: auto; width: 6rem;
      padding: 0.2rem 0;
    }
  }
}


    //googleMap
@mixin l-googleMap{
  height: 40vh; width: 100%;
  margin-top: 3%;
  img{
    height: 100%; width: 100%;
    object-fit: cover;
  }
}

    //footer
@mixin l-footerArea{
  height:auto; width: auto;

  &_link{
    height: auto; width: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

    /*記事一覧ページ*/
    // トップイメージ
@mixin l-topImageArea{
      height: 13rem; width: auto;
      margin:0;
      position: relative;
      &::before{
        content:"";
        height: 100%; width: 100%;
        display: block;
      }
      
      &_title{
        height: auto; width: auto;
        margin: 0;
        display: inline-block;
        position: absolute;
        top:50%; right: 10%;
      }
    }

    //blogのカテゴリ一覧エリア
@mixin l-categoryArea{
      margin: 2rem auto 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      a{
        height: auto; width: 20%;
      }
    }

    //ページネーション
@mixin l-pagenation{
      display: flex;
      flex-direction: row;
      justify-content: center;
      a{display: inline;}
      .pagination h2.screen-reader-text { display: none; }
    }

    //記事
@mixin l-singleArea{
      height: auto; width: 60%;
      @media screen and (max-width:$pcScreenSize){
       width: 100%; 
      }

      &_titleArea{
        margin-bottom: 2rem;
        position: relative;
    
        &_category{
          left: 0;
          padding: 0.1rem 0.3rem;
          position: static;
        }
        &_date{
           position: absolute;
           right: 0;
        }
        &_title{
          margin-top: 1.1rem;
        }
      }
      &_mainArea{}
      &_footer{}
    }

@mixin l-singleContentArea{}

    //戻るボタン
@mixin l-backButton{
      display: inline-block;
      height: 2rem; width: 100%;
      margin: 2rem 0;
    }

    //前と次の記事情報
@mixin l-nextandPrevPosts{
      height: 10vh; width: 100%;
      display: flex;
      justify-content: space-between;
      a{
        height: auto; width: 40%;
        display: flex;
        overflow: hidden;
      }
      a:nth-child(2){
        text-align: right;
      }
      .prev::before{
        height: 1.5rem; width: 1.5rem;
        display: inline-block;
        content: "";
      }
      .next::after{
        height: 1.5rem; width: 1.5rem;
        display: inline-block;
        content: "";
      }
    }

    //ウィジェット関連
@mixin l-widgetArea{
      height: auto; width: 40%;
      padding: 1.5rem 0 0 4rem;
      display: flex;
      flex-direction: column;

      @media screen and (max-width:$pcScreenSize){
        display: none;
      }
    }

@mixin l-widgetItems{
      margin-bottom: 2.5rem;  
      ul{
        margin: 0.5rem 0 1rem;
        padding: 0;
        li{
          margin-bottom: 0.7rem;
          display: flex;
          justify-content: space-between;
        }
        img{
          margin: 0 0.8rem 0.3rem 0;
          padding: 0;
        }
      }
    }

@mixin l-widgetItem--Archive{
  &_button{}
  &_year{
    display: flex;
    justify-content: space-between;
  }
  &_menu{
    li{
      padding-left: 0.8rem;
    }
  }
}





    /*Header*/
@mixin d-headerContainer {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
}
@mixin d-navArea{

}
@mixin d-menuButton{
  color: $accentColor;
  font-size: 35pt;
  text-align: center;
}
@mixin d-navArea_menuBar {
  background-color: #eee;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
}

@mixin d-menuBar_list{
  font-family: $serifFont;
  a{
    color: $mainColor;
  }
}
@mixin d-menuBar_list--sub{
  font-family: $serifFont;
  a{
    color: $mainColor;
  }
}

@mixin d-mainImageArea_image(){
  border-top:solid 5pt $asortColor2;
  border-bottom:solid 5pt $asortColor2;    
}

@mixin d-mainImageText {
  &::before{
    background: url(../img/icon1.png) center no-repeat;
    background-size: cover;
  }
  & > .line1 ,& > .line2{
    background-color: rgba(255,255,255, 0.3);
  }
}



 // aboutSection
@mixin d-aboutContents {
  border-top:solid 5pt $asortColor2;
  border-bottom:solid 5pt $asortColor2;    
}
@mixin d-aboutContents_parts_textBox_title{
  font-size: 1.5rem;
  text-align: center;
  color: $asortColor1;
  border-bottom: 1px solid $asortColor1;
  &::before{
    content: attr(data-cat) "\A";
    white-space: pre;
    font-size: 0.8rem;
  }
}
@mixin d-aboutContents_parts_textBox_text{
  font-size: 1rem;
}

  //LineupSection
@mixin d-menuLineUp {
  border:  3pt solid $asortColor2;
  background-color: $asortColor3;
}
@mixin d-menuLineUp_menu_image_textBox{
  .itemInfo{
    font-size: 0.8rem;
  }
}


    //ShopinfoSection
@mixin d-shopInfomation_textContainer{
  text-align: left;
  @media screen and (max-width:$pcScreenSize){
    text-align: center;
  }

  .shopType{
    color: $mainColor;
    font-size: 0.9rem;
    font-weight: bold;
  }
  .shopName{
    font-size: 1.2rem;
  }
  .shopAddress{
    font-size: 1rem;
    font-style: normal;
    line-height: inherit;
  }
  .shopAccess{
    font-size: 0.9rem;
  }
  .shopInfo{
    border-collapse: collapse;
    .tel{
      //PCサイズレイアウト時はリンクを無効にする。
      @media screen and (min-width:$pcScreenSize){
        pointer-events: none;
        cursor: default;
      }
    }
  }
}


    //footer
@mixin d-footerArea{
  text-align: center;
  color: $mainColor;
}
@mixin d-footerArea_link{
    font-size: 1rem;
    a{
      color: $mainColor;
    }
  }
@mixin d-footerArea_link_copyRight{
  font-size: 1rem;
}




    /*記事一覧ページ*/
    // トップイメージ
 @mixin d-topImageArea{
      background-position: left bottom;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: gray;
      &::before{
        background:linear-gradient(to right,rgba(255,255,255,0) 40%,rgba(255,255,255,0.7) 60%);
      }
      
      &_title{
        font-size: 2.5rem;
        font-family: $serifFont;
        color: $mainColor;
      }
    }

    //blogのカテゴリ一覧エリア
@mixin d-categoryArea{
      a:first-child{
        border-left: solid 1px $mainColor;
      }
      a{
        text-align: center;
        font-size: 1.2rem;
        border-right: $mainColor 1px solid;
      }
    }

    //ページネーション
@mixin d-pagenation{
      font-size: 1.2rem;
    }

    //記事
@mixin d-singleArea{
      &_titleArea{
        border-bottom: $mainColor 1.5px solid;
    
        &_category{
          border-color: #ccc;
        }
        &_date{
          font-size: 0.7rem;
        }
        &_title{
          font-size: 1.2rem;
          font-weight: bold;
          line-height: 2;
          color: $mainColor;
        }
      }
    }

    //戻るボタン
@mixin d-backButton{
      background-color: $mainColor;
      color: #fff;
      text-align: center;
      align-items: center;
    }

    //前と次の記事情報
@mixin d-nextandPrevPosts{
      .prev::before{
        background:url(../img/prev.png) center no-repeat;
        background-size: contain;
      }
      .next::after{
        background:url(../img/next.png) center no-repeat;
        background-size: contain;
      }
    }

 @mixin d-widgetItem--Archive{
      &_button{}
      &_year{
        font-size: 1.1rem;
      }
      &_menu{}
      &_button:checked + .d-WidgetItem--Archive_year::after{content: "▲";}
      &_button + .d-WidgetItem--Archive_year::after{content: "▼";}
    }



/*-------------------------------------*/
.headerArea{
  @include l-headerArea();
  // @include d-dummyDesign();
  .headerContainer{
  @include m-Toggle($display:flex);
  @include l-headerContainer();
  @include d-headerContainer();
  .toggleLabel{}
  .menuButton{
    @include d-menuButton();
    @include l-menuButton();
  }
  .logoMark{
    // @include d-dummyDesign();
    @include l-logoMark();
  }
  .toggleButton{}
  .toggleTarget{}
  .navArea{
    // @include d-dummyDesign();
    @include l-navArea();
    @include d-navArea();
  }
  .navArea_menuBar{
    // @include d-dummyDesign();
    @include d-navArea_menuBar();
    @include l-navArea_menuBar();
    &_logoMark{
      // @include d-dummyDesign();
      @include l-navArea_logoMark();
    }
    &_list{
      // @include d-dummyDesign();
      @include l-menuBar_list(); 
      @include d-menuBar_list();
      &--sub{
        // @include d-dummyDesign();
        @include l-menuBar_list--sub(); 
        @include d-menuBar_list();
      }
      &--SNS{
        // @include d-dummyDesign();
        @include l-menuBar_list--SNS(); 
        @include d-menuBar_list();
      }   
    }
  }
  .navArea_blankSpace{
    @include l-navArea_blankSpace();
  }
}
}


#topSection{
.mainImageArea{
  // @include d-dummyDesign();
  @include l-mainImageArea();
  @include l-AspectFixed($aspectWidth-16-9);
  .imageFrame{
    .image{
      @include l-mainImageArea_image();
      @include d-mainImageArea_image();
    }
  }
  &_text{
    @include l-mainImageText;
    @include d-mainImageText;
    .line1{}
    .line2{}
  }
}
}

.sectionContainer{
  // @include d-dummyDesign();
  @include l-sectionArea;
  &_frame{
    // @include d-dummyDesign();
    @include l-sectionArea_frame;
    &_titleArea{
      // @include d-dummyDesign();
      @include l-sectionArea_frame_titleArea;
      &_title{
        // @include d-dummyDesign();
        @include l-sectionArea_frame_titleArea_title;
      }
    }
    &_mainArea{  
      // @include d-dummyDesign();
    }
    &_footerArea{
      // @include d-dummyDesign();
      @include l-sectionArea_frame_footerArea();
      .moreButton{
        // @include d-dummyDesign();
        @include l-moreButton;
      }
    }
  }
}

.newsList{
  .Gl-PostItem--news{
    // @include d-dummyDesign();
    @include ld-PostItem--news();
  }
}

.blogList{
  @include l-blogList();
  .Gl-PostItem--blog{
    // @include d-dummyDesign();
    @include ld-PostItem--blog($aspectWidth-4-3);
  }
}

.aboutContents{
  @include d-aboutContents();
  .reverse{
    flex-direction: row-reverse;
  }
  &_parts{
    @include l-aboutContents_parts;
    &_image{
      @include d-dummyDesign();
      @include l-aboutContents_parts_image;
      @include l-AspectFixed($aspectWidth-4-3);
    }
    &_textBox{
      @include d-dummyDesign();
      @include l-aboutContents_parts_textBox;
      &_title{
        @include d-dummyDesign();
        @include l-aboutContents_parts_textBox_title;
        @include d-aboutContents_parts_textBox_title;
      }
      &_text{
        @include d-dummyDesign();
        @include l-aboutContents_parts_textBox_text;
        @include d-aboutContents_parts_textBox_text;
      }
    }
  }
}

#menuLineUpSection{
  @include d-menuLineUp();
}
.menuLineUp{
  @include l-menuLineUp();

  .reverse{
    @media screen and (min-width:$pcScreenSize){
      flex-direction: row-reverse;
    }
  }
  &_menu{
    // @include d-dummyDesign();
    @include l-menuLineUp_menu();
    &_image{
      // @include d-dummyDesign();
      @include l-menuLineUp_menu_image();
      @include l-AspectFixed($aspectWidth-16-9);
    }
    &_textBox{
      @include d-dummyDesign();
      @include l-menuLineUp_menu_image_textBox();
      @include d-menuLineUp_menu_image_textBox();
    }
  }
}
.shopInfomation{
  @include l-shopInfomation();
  &_shopImage{
    @include d-dummyDesign();
    @include l-shopInfomation_shopImage();
    @include l-AspectFixed($aspectWidth-16-9);
  }
  &_textContainer{
    @include d-dummyDesign();
    @include l-shopInfomation_textContainer();
    @include d-shopInfomation_textContainer();
  }
}

.googleMap{
  @include d-dummyDesign();
 @include l-googleMap();
}

.footerArea{
  @include d-dummyDesign();
  @include l-footerArea();
  @include d-footerArea();
  &_link{
    @include d-footerArea_link();
    &_copyRight{
      @include d-footerArea_link_copyRight();
    }
  }
}