@charset "UTF-8";
/*コーディングルール
1. クラス命名規則
  1-1.wordpressのクラスと区別するために
      ・クラス名、ID名に接頭辞を付ける
          (1) l-  Layout     :レイアウト指定クラス
          (2) d-  Decoration :デザイン装飾クラス
          (3) m-  Motion     :モーション付与クラス
      ・通常のクラス書式を、汎用クラスの書式より高いCSS優先度にするため
        通常のクラスはbody要素の子要素クラスとして定義する。(ネスト階層を+1して通常クラスのCSSを優先させる)
  1-2.階層構造をとるhtml要素に対して付与するクラスは
      ・最高階層のみ先頭大文字で命名する。
      ・2階層目以降は (最高階層の親要素のクラス名)_(子要素のクラス名) のように指定する。
        htmlの階層の深さに関わらず対応するCSCCクラスのネスト構造は単純化の為に第3階層以上にはしない。
        (↑1-1の命名方針より、1つのHTML要素に複数クラスを指定する事を想定しており、クラス名を長くすることを避けたい意図がある)
      ・同じ目的のクラスで名複数のタイプを作成する場合はタイプ別に (クラス名)--(タイプ名) のように指定する。
2. クラス書式の記載順
  height width
  magin 
  padding
  position
  top bottom left right
3. メディアクエリ
  PC書式->他書式で記述
  PC用書式
  @media (スマホ画面サイズ)
*/
/*固定変数*/
html {
  /*基礎フォント設定(画面600pxで12px,100pxで16px)*/
  font-size: 10pt;
}

body {
  color: #616161;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  color: #616161;
  text-decoration: none;
  background-color: transparent;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
}

/*1-1. 汎用クラス定義*/
/*(1) General Layout     :レイアウト指定クラス*/
/*[1]要素のアスペクト比固定*/
/*[2]記事一覧の基本書式*/
/*[3]複数カラム*/
/*(2) Gd-  General Decoration :デザイン装飾クラス*/
/*[0]ダミーデザイン*/
/*[1]ボタン要素*/
/*(3) Gm-  General Motion     :モーション付与クラス*/
/*[1]ボタンによる要素の表示切替*/
/*[2]各種jsアニメーション*/
@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*HTML要素特化 l-*/
.headerArea .menuBar_list, .headerArea .menuBar_list_--sub, .headerArea .menuBar_list--SNS, .headerArea .menuBar_list--SNS--sub {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerArea .menuBar_list a, .headerArea .menuBar_list_--sub a, .headerArea .menuBar_list--SNS a, .headerArea .menuBar_list--SNS--sub a {
  padding: 0.75rem 1rem;
}

@media screen and (max-width: 768px) {
  .headerArea .menuBar_list, .headerArea .menuBar_list_--sub, .headerArea .menuBar_list--SNS, .headerArea .menuBar_list--SNS--sub {
    height: auto;
    width: 40vw;
    top: 10rem;
    left: 30vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .headerArea .menuBar_list li, .headerArea .menuBar_list_--sub li, .headerArea .menuBar_list--SNS li, .headerArea .menuBar_list--SNS--sub li {
    height: auto;
    width: 50%;
  }
}

/*記事一覧ページ*/
/*Header*/
/*記事一覧ページ*/
/*-------------------------------------*/
.headerArea {
  height: 5rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 100;
  background-color: #999;
  border: solid 1px #09f;
}

.headerArea > .toggleLabel {
  cursor: pointer;
}

.headerArea > .toggleButton {
  display: none;
}

.headerArea > .toggleTarget {
  display: none;
}

.headerArea > .toggleButton:checked + .toggleTarget {
  display: block;
}

.headerArea .menuButton {
  background-color: #999;
  border: solid 1px #09f;
  height: 100%;
  width: 20%;
}

@media screen and (min-width: 768px) {
  .headerArea .menuButton {
    display: none;
  }
}

.headerArea .navArea {
  background-color: #999;
  border: solid 1px #09f;
  z-index: 101;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .headerArea .navArea {
    display: none;
    height: 100vh;
    width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .headerArea .navArea {
    display: block;
  }
  .headerArea .navArea--sub::before {
    content: "";
    height: 4.5rem;
    width: 100vw;
    background-color: #fff;
  }
}

.headerArea .navArea--sub::before {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .headerArea .navArea {
    background-color: #fff;
    opacity: 0.8;
  }
}

.headerArea .navArea_blankSpace {
  height: 100%;
  width: 20%;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
}

.headerArea .logoMark {
  background-color: #999;
  border: solid 1px #09f;
  height: 100%;
  width: 60%;
  margin: 0;
}

.headerArea .logoMark img {
  height: 3rem;
  width: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 768px) {
  .headerArea .logoMark {
    top: 5vh;
    left: calc(50% - 10rem/2);
  }
}

.headerArea .menuBar {
  background-color: #999;
  border: solid 1px #09f;
  height: auto;
  width: 10vw;
  position: fixed;
  top: 6.5rem;
  left: 0.5rem;
  z-index: 100;
}

.headerArea .menuBar--sub {
  top: 1.4rem;
  left: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  .headerArea .menuBar {
    height: auto;
    width: 20rem;
    top: 15vh;
    left: calc(57.5% - 20rem/2);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.headerArea .menuBar_list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.headerArea .menuBar_list a {
  color: #f8145b;
}

.headerArea .menuBar_list_--sub {
  top: 2rem;
  left: 20rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.headerArea .menuBar_list_--sub a {
  color: #f8145b;
}

.headerArea .menuBar_list--SNS {
  margin-top: 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (max-width: 768px) {
  .headerArea .menuBar_list--SNS {
    margin-top: 2rem;
  }
}

.headerArea .menuBar_list--SNS a {
  color: #f8145b;
}

.headerArea .menuBar_list--SNS--sub {
  margin-left: 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

@media screen and (max-width: 768px) {
  .headerArea .menuBar_list--SNS--sub {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.headerArea .menuBar_list--SNS--sub a {
  color: #f8145b;
}

#topSection .mainImageArea {
  height: auto;
  width: 92.5vw;
  margin: 0 0 0 auto;
  position: relative;
  position: relative;
  /*アスペクト非固定用疑似要素*/
}

#topSection .mainImageArea::before {
  content: "";
  display: block;
  /*padding-topの高さは元要素のwidthで決まる*/
  padding-top: 56.25%;
}

#topSection .mainImageArea > .imageFrame {
  /*absluteで親要素のbeforeに貼り付ける*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#topSection .mainImageArea > .imageFrame > .image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#topSection .mainImageArea_frame_image {
  -o-object-position: top left;
     object-position: top left;
}

#topSection .mainImageArea_text {
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#topSection .mainImageArea_text::before {
  content: "";
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: -0.9rem;
  left: -1.6rem;
  display: block;
}

#topSection .mainImageArea_text > .line1 {
  letter-spacing: 0.25rem;
  font-size: 1rem;
  white-space: nowrap;
}

#topSection .mainImageArea_text > .line2 {
  letter-spacing: 0.25rem;
  font-size: 1rem;
  white-space: nowrap;
  position: absolute;
  top: 2rem;
  right: -2rem;
}

#topSection .mainImageArea_text::before {
  background: url(../img/icon1.png) center no-repeat;
  background-size: cover;
}

#topSection .mainImageArea_text > .line1, #topSection .mainImageArea_text > .line2 {
  background-color: rgba(255, 255, 255, 0.3);
}

.sectionContainer {
  height: auto;
  width: 85vw;
  margin: 4rem auto;
  padding: 1.5rem 0 0 1.5rem;
}

.sectionContainer_frame {
  padding: 1.8rem 0 0 1.5rem;
  position: relative;
  border-top: solid 1pt #f8145b;
  border-left: solid 1pt #f8145b;
}

.sectionContainer_frame_titleArea {
  height: 3rem;
  width: auto;
  top: -1.5rem;
  bottom: auto;
  left: -1.5rem;
  right: auto;
  position: absolute;
  padding-right: 0.8rem;
  background: url(../img/icon2.png) left top no-repeat;
  background-size: contain;
  background-color: #fff;
}

.sectionContainer_frame_titleArea_title {
  padding: 0.7rem 0 0 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: #f8145b;
}

.sectionContainer_frame_footerArea {
  height: 3rem;
  width: 7rem;
  top: -1.7rem;
  bottom: auto;
  left: auto;
  right: 0rem;
  position: absolute;
}

.sectionContainer_frame_footerArea .moreButton {
  height: 2rem;
  width: 6rem;
  margin-top: 0.5rem;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  font-size: medium;
  color: #f8145b;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.sectionContainer_frame_footerArea .moreButton span {
  position: relative;
  top: 0.1rem;
}

.sectionContainer_frame_footerArea .moreButton .arrow {
  height: 1rem;
  width: 2rem;
  top: 0.2rem;
  left: 0.1rem;
  display: inline-block;
}

.sectionContainer_frame_footerArea .moreButton span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  vertical-align: bottom;
}

.sectionContainer_frame_footerArea .moreButton .arrow {
  background: url(../img/arrow.png) left top no-repeat;
  background-size: contain;
  background-color: none;
}

.blogList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutContents_parts {
  height: auto;
  width: 100%;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .aboutContents_parts {
    display: block;
  }
}

.aboutContents_parts--reverse {
  height: auto;
  width: 100%;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .aboutContents_parts--reverse {
    display: block;
  }
}

.aboutContents_parts_image {
  height: auto;
  width: 60%;
  position: relative;
  /*アスペクト非固定用疑似要素*/
}

@media screen and (max-width: 768px) {
  .aboutContents_parts_image {
    height: 100%;
    width: 100%;
  }
}

.aboutContents_parts_image img {
  -o-object-position: center center;
     object-position: center center;
}

.aboutContents_parts_image::before {
  content: "";
  display: block;
  /*padding-topの高さは元要素のwidthで決まる*/
  padding-top: 56.25%;
}

.aboutContents_parts_image > .imageFrame {
  /*absluteで親要素のbeforeに貼り付ける*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.aboutContents_parts_image > .imageFrame > .image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutContents_parts_textBox {
  height: auto;
  width: 40%;
  padding: 1rem 1rem;
}

@media screen and (max-width: 768px) {
  .aboutContents_parts_textBox {
    height: 100%;
    width: 100%;
  }
}

.aboutContents_parts_textBox_title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.aboutContents_parts_textBox_title::before {
  content: attr(data-cat) "\a";
  white-space: pre;
  font-size: 0.8rem;
}

.aboutContents_parts_textBox_text {
  font-size: 1rem;
}

.menuLineUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menuLineUp_menu {
  height: auto;
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 140px;
  margin-bottom: 1rem;
}

.menuLineUp_menu_image {
  height: auto;
  width: 100%;
  position: relative;
  /*アスペクト非固定用疑似要素*/
}

.menuLineUp_menu_image img {
  -o-object-position: center center;
     object-position: center center;
}

.menuLineUp_menu_image::before {
  content: "";
  display: block;
  /*padding-topの高さは元要素のwidthで決まる*/
  padding-top: 75%;
}

.menuLineUp_menu_image > .imageFrame {
  /*absluteで親要素のbeforeに貼り付ける*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menuLineUp_menu_image > .imageFrame > .image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menuLineUp_menu_textBox .itemName {
  margin-bottom: 0.3rem;
}

.menuLineUp_menu_textBox .itemInfo {
  margin-bottom: 0;
}

.menuLineUp_menu_textBox .itemInfo {
  font-size: 0.8rem;
}

.shopInfomation {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .shopInfomation {
    display: block;
  }
}

.shopInfomation_shopImage {
  height: auto;
  width: 58.2%;
  position: relative;
  /*アスペクト非固定用疑似要素*/
}

@media screen and (max-width: 768px) {
  .shopInfomation_shopImage {
    height: auto;
    width: 100%;
  }
}

.shopInfomation_shopImage_frame_image {
  -o-object-position: center center;
     object-position: center center;
}

.shopInfomation_shopImage::before {
  content: "";
  display: block;
  /*padding-topの高さは元要素のwidthで決まる*/
  padding-top: 56.25%;
}

.shopInfomation_shopImage > .imageFrame {
  /*absluteで親要素のbeforeに貼り付ける*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.shopInfomation_shopImage > .imageFrame > .image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopInfomation_textContainer {
  margin-left: 3%;
  text-align: left;
}

.shopInfomation_textContainer .shopName {
  margin: 0.5rem 0;
}

.shopInfomation_textContainer .shopAddress {
  margin: 1rem 0;
}

.shopInfomation_textContainer .shopAccess {
  margin-bottom: 0;
}

.shopInfomation_textContainer .shopInfo {
  margin-top: 1rem;
  display: inline-block;
}

.shopInfomation_textContainer .shopInfo th {
  height: auto;
  width: 6rem;
  padding: 0.2rem 0;
}

@media screen and (max-width: 768px) {
  .shopInfomation_textContainer {
    text-align: center;
  }
}

.shopInfomation_textContainer .shopType {
  color: #f8145b;
  font-size: 0.9rem;
  font-weight: bold;
}

.shopInfomation_textContainer .shopName {
  font-size: 1.2rem;
}

.shopInfomation_textContainer .shopAddress {
  font-size: 1rem;
  font-style: normal;
  line-height: inherit;
}

.shopInfomation_textContainer .shopAccess {
  font-size: 0.9rem;
}

.shopInfomation_textContainer .shopInfo {
  border-collapse: collapse;
}

@media screen and (min-width: 768px) {
  .shopInfomation_textContainer .shopInfo .tel {
    pointer-events: none;
    cursor: default;
  }
}

.googleMap {
  height: 40vh;
  width: 100%;
  margin-top: 3%;
}

.googleMap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footerArea {
  height: auto;
  width: auto;
  text-align: center;
  color: #f8145b;
}

.footerArea_link {
  height: auto;
  width: 20rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerArea_link {
  font-size: 1rem;
}

.footerArea_link a {
  color: #f8145b;
}

.footerArea_link_copyRight {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */