@charset "UTF-8";
/*コーディングルール
(1)クラス命名規則
  wordpressのクラスと区別するために
  クラス名、ID名に接頭辞「s-」を付ける
(2)書式記載順
  height width
  magin 
  padding
  position
  top bottom left right
(3)メディアクエリ
  PC書式->他書式で記述
  PC用書式
  @media (スマホ画面サイズ)
*/
/*固定変数*/
html {
  /*基礎フォント設定(画面600pxで12px,100pxで16px)*/
  font-size: calc(calc(12/16*100%) + 4 * (100vw - 600px) / 400);
}

body {
  color: #616161;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  color: #616161;
  text-decoration: none;
  background-color: transparent;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
}

/*汎用クラス*/
/*(1)要素のアスペクト比固定*/
.s-aspectFixed--16-9 {
  position: relative;
  /*アスペクト非固定用疑似要素*/
}

.s-aspectFixed--16-9::before {
  content: "";
  display: block;
  /*padding-topの高さは元要素のwidthで決まる*/
  padding-top: 56.25%;
}

.s-aspectFixed--4-3 {
  position: relative;
}

.s-aspectFixed--4-3::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.s-aspectFixed_frame {
  /*absluteで親要素のbeforeに貼り付ける*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.s-aspectFixed_frame_image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*(2)ボタンによる要素の表示切替*/
.s-toggle_button {
  display: none;
}

.s-toggle_label {
  cursor: pointer;
}

.s-toggle_target {
  display: none;
}

.s-toggle_button:checked + .s-toggle_label + .s-toggle_target {
  display: block;
}

/*(3)ボタン要素*/
.s-button {
  display: inline-block;
  cursor: pointer;
  color: #f8145b;
  white-space: nowrap;
  border-color: #f8f9fa;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

/*Header*/
.s-header {
  position: absolute;
}

.s-navArea--sub::before {
  content: "";
  height: 4.5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
}

.s-logoMark {
  position: fixed;
  top: 1.5rem;
  left: 0.5rem;
  z-index: 100;
}

.s-logoMark img {
  height: 2.5rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.s-menuBar_label {
  height: 1.5rem;
  width: 1.5rem;
  display: none;
  position: fixed;
  top: 5rem;
  right: 0.5rem;
  z-index: 100;
  background-color: #fff;
  border: #f8145b 1px solid;
}

@media screen and (max-width: 768px) {
  .s-menuBar_label {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .s-menuBar_menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .s-menuBar_menu {
    display: block;
  }
}

.s-menuBar_menu .s-menuBar_menu_list, .s-menuBar_menu .s-menuBar_menu_list--sub {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.s-menuBar_menu .s-menuBar_menu_list a, .s-menuBar_menu .s-menuBar_menu_list--sub a {
  color: #f8145b;
  padding: 0.5rem 1rem;
}

.s-menuBar_menu_list {
  padding-left: 0;
  top: 5rem;
  left: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-menuBar_menu_list li:nth-last-child(2) {
  margin-top: 6rem;
}

.s-menuBar_menu_list--sub {
  height: 1.7rem;
  width: 100vw;
  top: 2rem;
  left: 20rem;
}

/*topSection*/
.s-picture {
  height: auto;
  width: 92.5vw;
  margin: 0 0 0 auto;
  position: relative;
}

.s-picture_frame_image {
  -o-object-position: top left;
     object-position: top left;
}

.s-picture_textBox {
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-picture_textBox::before {
  content: "";
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: -0.9rem;
  left: -1.6rem;
  display: block;
  background: url(../img/icon1.png) center no-repeat;
  background-size: cover;
}

.s-picture_textBox .s-picture_textBox--line1, .s-picture_textBox .s-picture_textBox--line2 {
  background-color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.25rem;
  font-size: 1rem;
  white-space: nowrap;
}

.s-picture_textBox--line2 {
  position: absolute;
  top: 2rem;
  right: -2rem;
}

/*各セクション共通クラス*/
.s-section {
  height: auto;
  width: 85vw;
  margin: 4rem auto;
  padding: 1.5rem 0 0 1.5rem;
}

.s-section_container {
  padding: 1.8rem 0 0 1.5rem;
  position: relative;
  border-top: solid 1pt #f8145b;
  border-left: solid 1pt #f8145b;
}

.s-section_container_titleArea {
  height: 3rem;
  width: auto;
  padding-right: 0.8rem;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  background: url(../img/icon2.png) left top no-repeat;
  background-size: contain;
  background-color: #fff;
}

.s-section_container_titleArea_title {
  padding: 0.7rem 0 0 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: #f8145b;
}

.s-section_container_mainArea {
  color: #616161;
}

.s-section_container_footerArea {
  height: 3rem;
  width: 7rem;
  position: absolute;
  top: -1.7rem;
  right: 0rem;
  background-color: #fff;
  text-align: right;
}

.s-moreButton {
  height: 2rem;
  width: 6rem;
  margin-top: 0.5rem;
}

.s-moreButton span {
  position: relative;
  top: 0.2rem;
  left: -0.6rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.s-moreButton .arrow {
  height: 1rem;
  width: 2rem;
  top: 0.6rem;
  left: -0.6rem;
  display: inline-block;
  background: url(../img/arrow.png) left top no-repeat;
  background-size: contain;
  background-color: none;
}

.s-newsList_news_link {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-decoration: none;
  color: #616161;
}

.s-newsList_news_link_image {
  display: none;
}

.s-newsList_news_link_textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.s-newsList_news_link_textBox--date {
  padding-right: 5rem;
  letter-spacing: 0.1rem;
}

.s-newsList_news_link_textBox--title {
  display: inline-block;
  text-decoration: underline;
  letter-spacing: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Blog*/
.s-blogList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-blogList_blog {
  height: auto;
  width: 22%;
  min-width: 140px;
  margin: 0 1% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-blogList_blog_link {
  display: block;
  color: #616161;
}

.s-blogList_blog_link_image {
  height: auto;
  width: 100%;
}

.s-blogList_blog_link_image_category {
  height: auto;
  width: 40%;
  padding: 0.5rem 0 0.4rem 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 0.8rem;
}

.s-blogList_blog_link_textBox {
  height: 7rem;
  width: 100%;
  margin-top: 1rem;
}

.s-blogList_blog_link_textBox--date {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
}

.s-blogList_blog_link_textBox--title {
  margin-bottom: 0;
  font-weight: bold;
}

/*about*/
.s-about .s-about_parts, .s-about .s-about_parts--reverse {
  height: auto;
  width: 100%;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .s-about .s-about_parts, .s-about .s-about_parts--reverse {
    display: block;
  }
}

.s-about_parts--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.s-about_parts_image {
  height: auto;
  width: 60%;
}

@media screen and (max-width: 768px) {
  .s-about_parts_image {
    height: 100%;
    width: 100%;
  }
}

.s-about_parts_image img {
  -o-object-position: center center;
     object-position: center center;
}

.s-about_parts_textBox {
  height: auto;
  width: 40%;
  padding: 1rem 1rem;
}

@media screen and (max-width: 768px) {
  .s-about_parts_textBox {
    height: 100%;
    width: 100%;
  }
}

.s-about_parts_textBox--title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.s-about_parts_textBox--title::before {
  content: attr(data-cat) "\a";
  white-space: pre;
  font-size: 0.8rem;
}

.s-about_parts_textBox--text {
  font-size: 1rem;
}

/*Lineup*/
.s-menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-menuList_menu {
  height: auto;
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 140px;
  margin-bottom: 1rem;
}

.s-menuList_menu_image {
  height: auto;
  width: 100%;
}

.s-menuList_menu_image img {
  -o-object-position: center center;
     object-position: center center;
}

.s-menuList_menu_textBox .itemName {
  margin-bottom: 0.3rem;
}

.s-menuList_menu_textBox .itemInfo {
  font-size: 0.8rem;
  margin-bottom: 0;
}

/*Shopinfo*/
.s-shopinfoContainer {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .s-shopinfoContainer {
    display: block;
  }
}

.s-shopinfoContainer_shopImage {
  height: auto;
  width: 58.2%;
}

@media screen and (max-width: 768px) {
  .s-shopinfoContainer_shopImage {
    height: auto;
    width: 100%;
  }
}

.s-shopinfoContainer_shopImage_frame_image {
  -o-object-position: center center;
     object-position: center center;
}

.s-shopinfoContainer_textContainer {
  margin-left: 3%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .s-shopinfoContainer_textContainer {
    text-align: center;
  }
}

.s-shopinfoContainer_textContainer .shopType {
  color: #f8145b;
  font-size: 0.9rem;
  font-weight: bold;
}

.s-shopinfoContainer_textContainer .shopName {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.s-shopinfoContainer_textContainer .shopAddress {
  font-size: 1rem;
  margin: 1rem 0;
  font-style: normal;
  line-height: inherit;
}

.s-shopinfoContainer_textContainer .shopAccess {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.s-shopinfoContainer_textContainer .shopInfo {
  margin-top: 1rem;
  display: inline-block;
  border-collapse: collapse;
}

.s-shopinfoContainer_textContainer .shopInfo th {
  height: auto;
  width: 6rem;
  padding: 0.2rem 0;
}

@media screen and (min-width: 768px) {
  .s-shopinfoContainer_textContainer .shopInfo .tel {
    pointer-events: none;
    cursor: default;
  }
}

.googlemap {
  height: 40vh;
  width: 100%;
  margin-top: 3%;
}

.googlemap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* footer*/
.s-footer {
  height: auto;
  width: auto;
  text-align: center;
  color: #f8145b;
}

.s-footer_link {
  height: auto;
  width: 20rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
}

.s-footer_link a {
  color: #f8145b;
}

.s-footer_copyRight {
  font-size: 1rem;
}

/*記事一覧ページ*/
.s-topArea {
  height: 13rem;
  width: auto;
  margin: 0;
  position: relative;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
}

.s-topArea::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(255, 255, 255, 0)), color-stop(60%, rgba(255, 255, 255, 0.7)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 60%);
}

.s-topArea_title {
  height: auto;
  width: auto;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f8145b;
}

.s-categoryArea {
  margin: 2rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s-categoryArea a:first-child {
  border-left: solid 1px #f8145b;
}

.s-categoryArea a {
  height: auto;
  width: 20%;
  text-align: center;
  font-size: 1.2rem;
  border-right: #f8145b 1px solid;
}

.pagination h2.screen-reader-text {
  display: none;
}

.s-pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

.s-pagenation a {
  display: inline;
}

/*記事ページ*/
.s-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.s-singleArea {
  height: auto;
  width: 60%;
}

.s-singleArea_titleArea {
  margin-bottom: 2rem;
  border-bottom: #f8145b 1.5px solid;
  position: relative;
}

.s-singleArea_titleArea_category {
  padding: 0.1rem 0.3rem;
  background-color: #f8145b;
  border-radius: 3px;
  color: #fff;
}

.s-singleArea_titleArea_date {
  position: absolute;
  right: 0;
  font-size: 0.7rem;
}

.s-singleArea_titleArea_title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2;
  color: #f8145b;
}

.s-backbutton {
  display: inline-block;
  height: 2rem;
  width: 100%;
  margin: 2rem 0;
  background-color: #f8145b;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-nextandprev {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-nextandprev a {
  height: auto;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.s-nextandprev a:nth-child(2) {
  text-align: right;
}

.s-nextandprev .prev::before {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  content: "";
  background: url(../img/prev.png) center no-repeat;
  background-size: contain;
}

.s-nextandprev .next::after {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  content: "";
  background: url(../img/next.png) center no-repeat;
  background-size: contain;
}

/*ウィジェット関連*/
.s-widgetArea {
  height: auto;
  width: 40%;
  padding: 1.5rem 0 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-widget {
  margin-bottom: 2.5rem;
}

.s-widget ul {
  margin: 0.5rem 0 1rem;
  padding: 0;
}

.s-widget ul li {
  margin-bottom: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-widget ul img {
  margin: 0 0.8rem 0.3rem 0;
  padding: 0;
}

.s-archive_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.1rem;
}

.s-archive_menu {
  display: none;
  padding-left: 1.5rem;
}

.s-archive_button:checked + .s-archive_year::after {
  content: "▲";
}

.s-archive_button + .s-archive_year::after {
  content: "▼";
}

/*各種jsアニメーション*/
.s-js_fadeIn_action {
  -webkit-animation: fade 2s 0s 1;
          animation: fade 2s 0s 1;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */