@charset "UTF-8";
/*コーディングルール
1. クラス命名規則
  1-1.wordpressのクラスと区別するために
      ・クラス名、ID名に接頭辞を付ける
          (1) l-  Layout     :レイアウト指定クラス
          (2) d-  Decoration :デザイン装飾クラス
          (3) m-  Motion     :モーション付与クラス
      ・特定のWebページに依存しない汎用的な書式は汎用クラスとして
        上記接頭辞に g を付与する(例: gl-xxx など)
      ・通常のクラス書式を、汎用クラスの書式より高いCSS優先度にするため
        通常のクラスはbody要素の子要素クラスとして定義する。(ネスト階層を+1して通常クラスのCSSを優先させる)
  1-2.階層構造をとるhtml要素に対して付与するクラスは
      ・最高階層のみ先頭大文字で命名する。
      ・2階層目以降は (最高階層の親要素のクラス名)_(子要素のクラス名) のように指定する。
        htmlの階層の深さに関わらず対応するCSCCクラスのネスト構造は単純化の為に第3階層以上にはしない。
        (↑1-1の命名方針より、1つのHTML要素に複数クラスを指定する事を想定しており、クラス名を長くすることを避けたい意図がある)
      ・同じ目的のクラスで名複数のタイプを作成する場合はタイプ別に (クラス名)--(タイプ名) のように指定する。
2. クラス書式の記載順
  height width
  magin 
  padding
  position
  top bottom left right
3. メディアクエリ
  PC書式->他書式で記述
  PC用書式
  @media (スマホ画面サイズ)
*/
/*固定変数*/
html {
  /*基礎フォント設定(画面600pxで12px,100pxで16px)*/
  font-size: calc(calc(12/16*100%) + 4 * (100vw - 600px) / 400);
}

body {
  color: #616161;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  color: #616161;
  text-decoration: none;
  background-color: transparent;
}

ul {
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
}

/*1-1. 汎用クラス定義*/
/*(1) Gl-  General Layout     :レイアウト指定クラス*/
.Gl- {
  /*[1]要素のアスペクト比固定*/
  /*[2]記事一覧の基本書式*/
  /*[3]複数カラム*/
}

.Gl-AspectFixed--16-9 {
  position: relative;
  /*アスペクト非固定用疑似要素*/
}

.Gl-AspectFixed--16-9::before {
  content: "";
  display: block;
  /*padding-topの高さは元要素のwidthで決まる*/
  padding-top: 56.25%;
}

.Gl-AspectFixed--4-3 {
  position: relative;
}

.Gl-AspectFixed--4-3::before {
  content: "";
  display: block;
  padding-top: 75%;
}

.Gl-AspectFixed_frame {
  /*absluteで親要素のbeforeに貼り付ける*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Gl-AspectFixed_frame_image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Gl-PostItem--news_link {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-decoration: none;
  color: #616161;
  position: relative;
}

.Gl-PostItem--news_link_image {
  display: none;
}

.Gl-PostItem--news_link_category {
  height: auto;
  width: 5rem;
  padding: 0.1rem 0 0.1rem 0;
  position: absolute;
  bottom: 1rem;
  left: 7rem;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
  border: #616161 1px solid;
}

.Gl-PostItem--news_link_textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Gl-PostItem--news_link_textBox--date {
  padding-right: 8rem;
  letter-spacing: 0.1rem;
}

.Gl-PostItem--news_link_textBox--title {
  display: inline-block;
  text-decoration: underline;
  letter-spacing: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Gl-PostItem--blog {
  height: auto;
  width: 22%;
  min-width: 140px;
  margin: 0 1% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Gl-PostItem--blog_link {
  display: block;
  color: #616161;
}

.Gl-PostItem--blog_link_image {
  height: auto;
  width: 100%;
  position: relative;
}

.Gl-PostItem--blog_link_category {
  height: auto;
  width: 40%;
  padding: 0.5rem 0 0.4rem 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 0.8rem;
}

.Gl-PostItem--blog_link_textBox {
  height: 7rem;
  width: 100%;
  margin-top: 1rem;
}

.Gl-PostItem--blog_link_textBox--date {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
}

.Gl-PostItem--blog_link_textBox--title {
  margin-bottom: 0;
  font-weight: bold;
}

.Gl-MultiColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*(2) Gd-  General Decoration :デザイン装飾クラス*/
.Gd- {
  /*start: General Class*/
  /*[1]ボタン要素*/
  /*end: General Class*/
}

.Gd-ButtonDesign {
  display: inline-block;
  cursor: pointer;
  color: #f8145b;
  white-space: nowrap;
  border-color: #f8f9fa;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

/*(3) Gm-  General Motion     :モーション付与クラス*/
.Gm- {
  /*start: General Class*/
  /*(1)ボタンによる要素の表示切替*/
  /*各種jsアニメーション*/
  /*end: General Class*/
}

.Gm-Toggle_button {
  display: none;
}

.Gm-Toggle_label {
  cursor: pointer;
}

.Gm-Toggle_target {
  display: none;
}

.Gm-Toggle_button:checked + .Gm-Toggle_label + .Gm-Toggle_target {
  display: block;
}

.Gm-js_fadeIn_action {
  -webkit-animation: fade 2s 0s 1;
          animation: fade 2s 0s 1;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*1-2. 通常クラス定義*/
body {
  /*(1) l-  Layout     :レイアウト指定クラス*/
  /*(2) d-  Decoration :デザイン装飾クラス*/
}

body .l- {
  /*Header*/
  /*MainPage*/
  /*記事一覧ページ*/
}

body .l-HeaderArea {
  position: absolute;
}

body .l-NavArea--sub::before {
  content: "";
  height: 4.5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
}

body .l-LogoMark {
  position: fixed;
  top: 1.5rem;
  left: 0.5rem;
  z-index: 100;
}

body .l-LogoMark img {
  height: 2.5rem;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

body .l-MenuBar_label {
  height: 1.5rem;
  width: 1.5rem;
  display: none;
  position: fixed;
  top: 5rem;
  right: 0.5rem;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  body .l-MenuBar_label {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  body .l-MenuBar_menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body .l-MenuBar_menu {
    display: block;
  }
}

body .l-MenuBar_list {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  top: 5rem;
  left: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .l-MenuBar_list a {
  padding: 0.5rem 1rem;
}

body .l-MenuBar_list li:nth-last-child(2) {
  margin-top: 6rem;
}

body .l-MenuBar_list--sub {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.7rem;
  width: 100vw;
  top: 2rem;
  left: 20rem;
}

body .l-MenuBar_list--sub a {
  padding: 0.5rem 1rem;
}

body .l-MainImageArea {
  height: auto;
  width: 92.5vw;
  margin: 0 0 0 auto;
  position: relative;
}

body .l-MainImageArea_frame_image {
  -o-object-position: top left;
     object-position: top left;
}

body .l-MainImageText {
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .l-MainImageText::before {
  content: "";
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: -0.9rem;
  left: -1.6rem;
  display: block;
}

body .l-MainImageText_line1 {
  letter-spacing: 0.25rem;
  font-size: 1rem;
  white-space: nowrap;
}

body .l-MainImageText_line2 {
  letter-spacing: 0.25rem;
  font-size: 1rem;
  white-space: nowrap;
  position: absolute;
  top: 2rem;
  right: -2rem;
}

body .l-SectionArea {
  height: auto;
  width: 85vw;
  margin: 4rem auto;
  padding: 1.5rem 0 0 1.5rem;
}

body .l-SectionArea_frame {
  padding: 1.8rem 0 0 1.5rem;
  position: relative;
}

body .l-SectionArea_frame_titleArea {
  height: 3rem;
  width: auto;
  padding-right: 0.8rem;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
}

body .l-SectionArea_frame_titleArea_title {
  padding: 0.7rem 0 0 1.5rem;
}

body .l-SectionArea_frame_footerArea {
  height: 3rem;
  width: 7rem;
  position: absolute;
  top: -1.7rem;
  right: 0rem;
}

body .l-MoreButton {
  height: 2rem;
  width: 6rem;
  margin-top: 0.5rem;
}

body .l-MoreButton span {
  position: relative;
  top: 0.2rem;
  left: -0.6rem;
}

body .l-MoreButton .arrow {
  height: 1rem;
  width: 2rem;
  top: 0.6rem;
  left: -0.6rem;
  display: inline-block;
}

body .l-BlogList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .l-AboutContents .l-AboutContents_parts, body .l-AboutContents .l-AboutContents_parts--reverse {
  height: auto;
  width: 100%;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  body .l-AboutContents .l-AboutContents_parts, body .l-AboutContents .l-AboutContents_parts--reverse {
    display: block;
  }
}

body .l-AboutContents_parts--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .l-AboutContents_parts_image {
  height: auto;
  width: 60%;
}

@media screen and (max-width: 768px) {
  body .l-AboutContents_parts_image {
    height: 100%;
    width: 100%;
  }
}

body .l-AboutContents_parts_image img {
  -o-object-position: center center;
     object-position: center center;
}

body .l-AboutContents_parts_textBox {
  height: auto;
  width: 40%;
  padding: 1rem 1rem;
}

@media screen and (max-width: 768px) {
  body .l-AboutContents_parts_textBox {
    height: 100%;
    width: 100%;
  }
}

body .l-AboutContents_parts_textBox--title {
  margin-bottom: 1rem;
}

body .l-MenuLineUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .l-MenuLineUp_menu {
  height: auto;
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 140px;
  margin-bottom: 1rem;
}

body .l-MenuLineUp_menu_image {
  height: auto;
  width: 100%;
}

body .l-MenuLineUp_menu_image img {
  -o-object-position: center center;
     object-position: center center;
}

body .l-MenuLineUp_menu_textBox .itemName {
  margin-bottom: 0.3rem;
}

body .l-MenuLineUp_menu_textBox .itemInfo {
  margin-bottom: 0;
}

body .l-ShopInfomation {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  body .l-ShopInfomation {
    display: block;
  }
}

body .l-ShopInfomation_shopImage {
  height: auto;
  width: 58.2%;
}

@media screen and (max-width: 768px) {
  body .l-ShopInfomation_shopImage {
    height: auto;
    width: 100%;
  }
}

body .l-ShopInfomation_shopImage_frame_image {
  -o-object-position: center center;
     object-position: center center;
}

body .l-ShopInfomation_textContainer {
  margin-left: 3%;
}

body .l-ShopInfomation_textContainer .shopName {
  margin: 0.5rem 0;
}

body .l-ShopInfomation_textContainer .shopAddress {
  margin: 1rem 0;
}

body .l-ShopInfomation_textContainer .shopAccess {
  margin-bottom: 0;
}

body .l-ShopInfomation_textContainer .shopInfo {
  margin-top: 1rem;
  display: inline-block;
}

body .l-ShopInfomation_textContainer .shopInfo th {
  height: auto;
  width: 6rem;
  padding: 0.2rem 0;
}

body .l-GoogleMap {
  height: 40vh;
  width: 100%;
  margin-top: 3%;
}

body .l-GoogleMap img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .l-FooterArea {
  height: auto;
  width: auto;
}

body .l-FooterArea_link {
  height: auto;
  width: 20rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .l-TopImageArea {
  height: 13rem;
  width: auto;
  margin: 0;
  position: relative;
}

body .l-TopImageArea::before {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
}

body .l-TopImageArea_title {
  height: auto;
  width: auto;
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10%;
}

body .l-CategoryArea {
  margin: 2rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .l-CategoryArea a {
  height: auto;
  width: 20%;
}

body .l- .pagination h2.screen-reader-text {
  display: none;
}

body .l-Pagenation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .l-Pagenation a {
  display: inline;
}

body .l-SingleArea {
  height: auto;
  width: 60%;
}

body .l-SingleArea_titleArea {
  margin-bottom: 2rem;
  position: relative;
}

body .l-SingleArea_titleArea_category {
  left: 0;
  padding: 0.1rem 0.3rem;
  position: static;
}

body .l-SingleArea_titleArea_date {
  position: absolute;
  right: 0;
}

body .l-SingleArea_titleArea_title {
  margin-top: 1.1rem;
}

body .l-BackButton {
  display: inline-block;
  height: 2rem;
  width: 100%;
  margin: 2rem 0;
}

body .l-NextandPrevPosts {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .l-NextandPrevPosts a {
  height: auto;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

body .l-NextandPrevPosts a:nth-child(2) {
  text-align: right;
}

body .l-NextandPrevPosts .prev::before {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  content: "";
}

body .l-NextandPrevPosts .next::after {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  content: "";
}

body .l-WidgetArea {
  height: auto;
  width: 40%;
  padding: 1.5rem 0 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .l-WidgetItems {
  margin-bottom: 2.5rem;
}

body .l-WidgetItems ul {
  margin: 0.5rem 0 1rem;
  padding: 0;
}

body .l-WidgetItems ul li {
  margin-bottom: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .l-WidgetItems ul img {
  margin: 0 0.8rem 0.3rem 0;
  padding: 0;
}

body .l-WidgetItem--Archive_year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .l-WidgetItem--Archive_menu {
  display: none;
  padding-left: 1.5rem;
}

body .d- {
  /*Header*/
  /*MainPage*/
  /*記事一覧ページ*/
}

body .d-MenuBar_label {
  background-color: #fff;
  border: #f8145b 1px solid;
}

body .d-MenuBar_list {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body .d-MenuBar_list a {
  color: #f8145b;
}

body .d-MainImageText::before {
  background: url(../img/icon1.png) center no-repeat;
  background-size: cover;
}

body .d-MainImageText_line {
  background-color: rgba(255, 255, 255, 0.3);
}

body .d-SectionArea_frame {
  border-top: solid 1pt #f8145b;
  border-left: solid 1pt #f8145b;
}

body .d-SectionArea_frame_titleArea {
  background: url(../img/icon2.png) left top no-repeat;
  background-size: contain;
  background-color: #fff;
}

body .d-SectionArea_frame_titleArea_title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: #f8145b;
}

body .d-SectionArea_frame_mainArea {
  color: #616161;
}

body .d-SectionArea_frame_footerArea {
  background-color: #fff;
  text-align: right;
}

body .d-MoreButton span {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body .d-MoreButton .arrow {
  background: url(../img/arrow.png) left top no-repeat;
  background-size: contain;
  background-color: none;
}

body .d-AboutContents_parts_textBox_title {
  font-size: 1.5rem;
  text-align: center;
}

body .d-AboutContents_parts_textBox_title::before {
  content: attr(data-cat) "\a";
  white-space: pre;
  font-size: 0.8rem;
}

body .d-AboutContents_parts_textBox_text {
  font-size: 1rem;
}

body .d-MenuLineUp .itemInfo {
  font-size: 0.8rem;
}

body .d-ShopInfomation_textContainer {
  text-align: left;
}

@media screen and (max-width: 768px) {
  body .d-ShopInfomation_textContainer {
    text-align: center;
  }
}

body .d-ShopInfomation_textContainer .shopType {
  color: #f8145b;
  font-size: 0.9rem;
  font-weight: bold;
}

body .d-ShopInfomation_textContainer .shopName {
  font-size: 1.2rem;
}

body .d-ShopInfomation_textContainer .shopAddress {
  font-size: 1rem;
  font-style: normal;
  line-height: inherit;
}

body .d-ShopInfomation_textContainer .shopAccess {
  font-size: 0.9rem;
}

body .d-ShopInfomation_textContainer .shopInfo {
  border-collapse: collapse;
}

@media screen and (min-width: 768px) {
  body .d-ShopInfomation_textContainer .shopInfo .tel {
    pointer-events: none;
    cursor: default;
  }
}

body .d-FooterArea {
  text-align: center;
  color: #f8145b;
}

body .d-FooterArea_link {
  font-size: 1rem;
}

body .d-FooterArea_link a {
  color: #f8145b;
}

body .d-FooterArea_copyRight {
  font-size: 1rem;
}

body .d-TopImageArea {
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
}

body .d-TopImageArea::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(255, 255, 255, 0)), color-stop(60%, rgba(255, 255, 255, 0.7)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 60%);
}

body .d-TopImageArea_title {
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f8145b;
}

body .d-CategoryArea a:first-child {
  border-left: solid 1px #f8145b;
}

body .d-CategoryArea a {
  text-align: center;
  font-size: 1.2rem;
  border-right: #f8145b 1px solid;
}

body .d-Pagenation {
  font-size: 1.2rem;
}

body .d-SingleArea_titleArea {
  border-bottom: #f8145b 1.5px solid;
}

body .d-SingleArea_titleArea_category {
  border-color: #ccc;
}

body .d-SingleArea_titleArea_date {
  font-size: 0.7rem;
}

body .d-SingleArea_titleArea_title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2;
  color: #f8145b;
}

body .d-BackButton {
  background-color: #f8145b;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .d-NextandPrevPosts .prev::before {
  background: url(../img/prev.png) center no-repeat;
  background-size: contain;
}

body .d-NextandPrevPosts .next::after {
  background: url(../img/next.png) center no-repeat;
  background-size: contain;
}

body .d-WidgetItem--Archive_year {
  font-size: 1.1rem;
}

body .d-WidgetItem--Archive_button:checked + .d-WidgetItem--Archive_year::after {
  content: "▲";
}

body .d-WidgetItem--Archive_button + .d-WidgetItem--Archive_year::after {
  content: "▼";
}
/*# sourceMappingURL=style.css.map */